<div>
    <p>contact</p>
    <figure>
        <img src="../../../assets/images/geranium.jpg" alt="" srcset="">
        <!-- con Angular puoi scrivere anceh src="/assets/images/geranium.jpg" -->
    </figure>
    <form action="#">
        <label for="nom">Nome</label><input id="nom" name="nom" type="text"><br><br>
        <label for="prenom">Prenome</label><input id="prenom" name="prenom" type="text"><br><br>
        <textarea name="sms" id="sms" cols="30" rows="10"></textarea><br><br>
        <input type="checkbox" name="like" id="like"><label for="like">Simpa?</label><br>
        <input type="button" value="envoyer">
    </form>
    <p><a href="mailto:s@v.be">s@v.be</a></p>
    <p>Tel : <a href="tel:0032/888">telefonate</a></p>


    <!-- <img src="" alt="" srcset="cerca img su un altro server se non la tropa con il primo src " onerror="questo é JS"> -->
    <!-- molto megio caricare un'altra img con JS: se ho errore, parte funz JS:
    - o con onerror
    - o con .AddEventListener('error') -->

</div>