
<header>
  <!-- menu -->
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink ="/direttiva">direttiva</a></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
  <br>
  <!-- nav avec nomponent nav -->

  <nav>
    <app-nav></app-nav>
  </nav>


</header><br>
<main>
  <router-outlet></router-outlet>
</main>
<br>

  <!-- Footer -->
  <footer>
      <span>&copy;</span><span>Stefania Mauti</span> <span> stefyx6@virgilio.it </span> <span><a href="https://www.interface3.be/" target="_blank">Interface 3 - Wad 21</a></span>
  </footer>

