ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    background-color: #FF831C;
    border-bottom: 5px solid #54BAE2;
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 30px;
    margin: 2px;
    padding-top: 1%;
    text-align: center;
    float: left;
}