<h1>Demo 01 - Les bindings de propriétés - One Way Binding</h1>


<div class="container-fluid">
  <div class="row">

    <div class="col-4 mb-3">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de String
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable1" vaut "{{ maVariable1 }}"
          </p>
        </div>

      </div>
    </div>

    <div class="col-4 mb-3">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de Number
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable2" vaut "{{ maVariable2 }}"
          </p>
        </div>

      </div>
    </div>

    <div class="col-4 mb-3">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de Boolean
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable3" vaut "{{ maVariable3 }}"
          </p>
        </div>

      </div>
    </div>

    <div class="col-4 mb-3">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding d'objet
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "person" vaut "{{ person | json }}"
          </p>
        </div>

      </div>
    </div>


  </div>
</div>