<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">WAD21</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Démonstration
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="demo/demo01">Demo 1 - One Way Binding</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo02">Demo 2 - Two Way Binding</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo03">Demo 3 - Event Binding</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo04">Demo 4 - Attributes Binding</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo05">Demo 5 - Pipes</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo06">Demo 6 - Custom Pipes</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo07">Demo 7 - Component Directives</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo08">Demo 8 - Structural Directives</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo09">Demo 9 - Custom Directives</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo10">Demo 10 - Inputs Outputs</a></li>
            <li><a class="dropdown-item" routerLink="demo/demo11">Demo 11 - Services & DI</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercices
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="exos/exo01">Exo 1</a></li>
            <li><a class="dropdown-item" routerLink="exos/exo02">Exo 2</a></li>
            <li><a class="dropdown-item" routerLink="exos/exo03">Exo 3 - Nav</a></li>
            <li><a class="dropdown-item" routerLink="exos/exo04">Exo 4 - Shopping list</a></li>
            <li><a class="dropdown-item" routerLink="exos/exo05">Exo 5 - Shopping list améliorée</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>