<h1>Demo 9 - Custom Directives</h1>

<div class="container-fluid">
  <div class="row">

    <div class="col-6 mb-3">
      <div class="card">
        <div class="card-header bg-success text-white">
            Directive custom
        </div>
        <div class="card-body">
          <p appPrepareRender>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus magni reiciendis alias dicta veniam vero voluptas. Illum, distinctio asperiores nisi ipsa porro, earum magnam accusantium fugiat, quas quos provident?
          </p>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus magni reiciendis alias dicta veniam vero voluptas. Illum, distinctio asperiores nisi ipsa porro, earum magnam accusantium fugiat, quas quos provident?
          </p>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus magni reiciendis alias dicta veniam vero voluptas. Illum, distinctio asperiores nisi ipsa porro, earum magnam accusantium fugiat, quas quos provident?
          </p>
          <p appPrepareRender>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus magni reiciendis alias dicta veniam vero voluptas. Illum, distinctio asperiores nisi ipsa porro, earum magnam accusantium fugiat, quas quos provident?
          </p>
          
        </div>
      </div>
    </div> 


    <div class="col-6 mb-3">
      <div class="card">
        <div class="card-header bg-success text-white">
            Directive custom (avec événement)
        </div>
        <div class="card-body">
          <p appHighlight>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus magni reiciendis alias dicta veniam vero voluptas. Illum, distinctio asperiores nisi ipsa porro, earum magnam accusantium fugiat, quas quos provident?
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aut quam quas veniam quisquam explicabo, amet ducimus vitae consequatur ullam eius ipsum. Incidunt exercitationem excepturi dicta tempora totam eos dolorem.
          </p>

          <p appHighlight>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id mollitia magni veritatis ducimus, error sapiente adipisci animi, eaque autem voluptatem placeat maiores eos quos cupiditate delectus tenetur ea accusantium! Sequi.
          </p>
          
        </div>
      </div>
    </div> 

  </div>
</div>