<p>exo01 works!</p>
<h2>Propety binding</h2>
<h3>one-way</h3>


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Propety binding: one-way 
                </div>
                <div class="card-body">
                    <p class="card-text">La mia prima variabile {{maVar1}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>