<!-- <ul>
<li><a routerLink="demo_01">Démo Binding</a></li>  
<li><a routerLink="demo_02">Démo Pipes</a></li> 
<li><a routerLink="demo_03">Démo Directives</a></li>
</ul> -->

<ul>
    <li *ngFor="let category of listeLien; let i = index">
        <a [routerLink]="category.url"
            (click)="switchCategoryVisible(i)"
            [ngClass]="{category : category.children}"
        >{{category.nom}}</a>

        <ul *ngIf="category.children && category.isChildrenVisible">
            <li *ngFor="let lien of category.children">
                <a [routerLink]="lien.url">{{lien.nom}}</a>
            </li>
        </ul>

    </li>
</ul>

<!-- <ul *ngIf="isMenuVisible">
    <li *ngFor="let lien of listeLien">
        <a [routerLink]="lien.url">{{lien.nom}}</a>
    </li>
</ul> -->