<!-- header>nav>ul>li*3>a>div -->
<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/">
          <div>Home</div>
        </a>
      </li>
      <li>
        <a routerLink="/skills">
          <div>Skills</div>
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <div>Contact me!</div>
        </a>
      </li>
      <li>
        <a routerLink="/chrono">
          <div>Chronomètre</div>
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>
    <a href="https://www.interface3.be/" target="_blank">
      <div>Interface3 - WAD21</div>
    </a>
  </div>
</footer>