<p>demo06-direttive-component works!</p>
<div>
    <p> NgStyle: uguale a style</p>
    <p [ngStyle]="{'background-color': 'red', 'color':'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos et sapiente rem, ducimus nostrum temporibus facere minima laboriosam magni maiores ratione consequuntur, illum natus neque sequi quisquam exercitationem laudantium deserunt. Nesciunt a asperiores ipsam! Deleniti quia illum doloribus harum. Eligendi.</p>
    <br>
    <p [ngStyle]="myStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos et sapiente rem, ducimus nostrum temporibus facere minima laboriosam magni maiores ratione consequuntur, illum natus neque sequi quisquam exercitationem laudantium deserunt. Nesciunt a asperiores ipsam! Deleniti quia illum doloribus harum. Eligendi.</p>
    <br>
    <p [ngClass]="{'alert alert-info' : isAble}" (click)="active()">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos et sapiente rem, ducimus nostrum temporibus facere minima laboriosam magni maiores ratione consequuntur, illum natus neque sequi quisquam exercitationem laudantium deserunt. Nesciunt a asperiores ipsam! Deleniti quia illum doloribus harum. Eligendi.</p>
</div>
<br>
