<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, numquam, porro repellat earum adipisci debitis aliquam deserunt possimus expedita suscipit quas deleniti, repudiandae tempora rem? Expedita reprehenderit magnam ducimus illum!Créez un nouveau projet angular. Il permet de réunir des profils d'utilisateurs.</p>
<p>Mettez en place 3 pages (des components) contenant :</p>
<!-- table>(thead>tr>th*2)+(tbody>tr*3>td*2) -->
<table>
    <thead>
        <tr>
            <th>Route:</th>
            <th>Contenu:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>http://localhost:4200/</td>
            <td>Une page d'accueil avec un paragraphe présentant le contenu du site</td>
        </tr>
        <tr>
            <td>http://localhost:4200/skills</td>
            <td>Une page avec une liste de vos compétences en informatique</td>
        </tr>
        <tr>
            <td>http://localhost:4200/contact</td>
            <td>Une page de contact avec vos coordonnées (Mail, téléphone, photos de vous)</td>
        </tr>
    </tbody>
</table>
<p>Sur chacune des pages, une entête avec un menu de navigation (un li avec des liens) et un footer avec la mention : Interface 3 - WAD21 ;  il doit vous conduire au site d'interface 3</p>
