<h1>Demo 02 - Les bindings de propriétés : Two Way Binding</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de String
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable1" vaut "{{ maVariable1 }}"
          </p>
          <input type="text" class="form-control" [(ngModel)]="maVariable1">
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de Number
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable2" vaut "{{ maVariable2 }}"
          </p>

          <input type="number" class="form-control" [(ngModel)]="maVariable2">
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card">

        <div class="card-header bg-success text-white">
          Binding de Boolean
        </div>

        <div class="card-body">
          <p class="card-text">
            Ma variable "maVariable3" vaut "{{ maVariable3 }}"
          </p>
          <input type="checkbox" class="form-check-input" [(ngModel)]="maVariable3">
        </div>

      </div>
    </div>
  </div>
</div>